*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --squareSize: 250px;
    --markerSize: calc(var(--squareSize) * .9);
    color: white;
    --primary: rgb(73, 73, 73);
    --secondary: rgb(231, 18, 18);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: black;
}

button{
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: var(--primary);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid white;
}

.squares{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--squareSize);
    width: var(--squareSize);
    border: 2px solid white;
    background-color: var(--primary);
}

.X{
    height: var(--markerSize);
    width: var(--markerSize);
    position: relative;
    transform: rotate(45deg);
}

.X::before, .X::after{
    content: "";
    position: absolute;
    background-color: var(--secondary);
}

.X::before{
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.X::after{
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

.O{
    height: var(--markerSize);
    width: var(--markerSize);
    border-radius: 50%;
    border: 50px solid var(--secondary);
}

.result{
    font-size: 2rem;
}